<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Training/blob/main/LambdaFunctionListComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Lambda Functions

## Basic Lambda function
=======================================
pvar = lambda v1, v2 ...... : operatioon / condition / boolean expression

In [1]:
x = lambda num: num + 22
print(x(11))

33

In [2]:
add = lambda num1, num2: num1 + num2
print(add(11, 22))

33

In [3]:
big = lambda x, y: x if x > y else y
print(big(5, 2))

5

In [4]:
nums = [11, 22, 33, 44, 55, 77, 99]
e = list(filter(lambda num: num % 2 == 0, nums))
print(e)

[22, 44]

In [5]:
nums = [11, 22, 33, 44, 55, 77, 99]
e = list(filter(lambda num: num % 2 != 0, nums))
print(e)

[11, 33, 55, 77, 99]

filter selects the values from the list based on the condition
map evaluvates the value in the condition to produce the boolean values

In [6]:
nums = [11, 22, 33, 44, 55, 77, 99]
e = list(map(lambda num: num % 2 != 0, nums))
print(e)

[True, False, True, False, True, True, True]

sort generalized data
sorted module evaluvation

In [8]:
packs = [(11, 99), (2, 11), (66, 66)]
result = sorted(packs, key = lambda x: x[1])
print(result)

[(2, 11), (66, 66), (11, 99)]

In [9]:
def b(n):
    return lambda x: x * n
a = b(2)
print(a(5))

10

In [10]:
def a(n):
    return n ** 3
b = lambda x: x ** 3
print(a(2))
print(b(2))

8
8

In [11]:
"""
code to declare the longest string using lambda
"""
long = lambda a, b: a if len(a) > len(b) else b
print(long("Suchitra", "Kamala"))
print(long("1234", "12"))

Suchitra
1234

## List Comprehension With Lambda Function
============================================

In [12]:
data = ['pen', 'cap', 'bat']
upper = [(lambda x: x.upper())(d) for d in data]
print(upper)

['PEN', 'CAP', 'BAT']

word = 'Suchitra'

o/p = 'artihcuS'

In [13]:
word = 'Suchitra'
reverse = " ".join(map(lambda w: w[::-1], word.split()))
print(reverse)

artihcuS

In [14]:
words = ['Kodali', 'Suchitra', 'Kamala']
rw = [(lambda w: w[::-1])(word) for word in words]
print(rw)

['iladoK', 'artihcuS', 'alamaK']

['hi', ' ', 'students', ' ', 'bye']

In [15]:
s = ['hi', ' ', 'students', ' ', 'bye']
i = [x for x in s if(lambda v: v != " ")(x)]
print(i)

['hi', 'students', 'bye']

## Nested Recursive

(a + b) * c expression lambda evaluate and returns to another lambda

In [17]:
l2 = lambda a: lambda b, c: (a + b) * c  # l2 -> return b c
num1 = int(input("Enter value of a: "))
num2 = int(input("Enter value of b: "))
num3 = int(input("Enter value of c: "))
l1 = l2(num1)
value = l1(num2, num3)
print(value)

Enter value of a: 1
Enter value of b: 2
Enter value of c: 3
9

In [18]:
print((lambda a: lambda b, c: (a + b) * c)(5)(3,2))
# l2(5)
# l1(3, 2)

16

(a + b) * (c + d)

In [19]:
print((lambda a: lambda b: lambda c, d: (a + b) * (c + d))(2)(3)(4, 5))

45

(a - b) / (c - d)

In [20]:
print((lambda a: lambda b: lambda c, d: (a - b) / (c - d))(2)(3)(4, 5))

1.0

In [21]:
op = lambda num: lambda numsq: num ** numsq
num = int(input("Enter the number: "))
numsq = int(input("Enter the power: "))
assign = op(num)
print(assign(numsq))

Enter the number: 2
Enter the power: 3
8

In [22]:
print((lambda a: lambda b: (a + b) ** 2)(int(input("a: ")))(int(input("b: "))))

a: 1
b: 2
9

In [23]:
print((lambda a: lambda b: (a + b) ** 3)(int(input("a: ")))(int(input("b: "))))

a: 2
b: 3
125

(a - b) / (c - d) expression with different modulations.

In [24]:
try:
    print((lambda a: lambda b: lambda c, d: (a - b) / (c - d))(10)(4)(8, 6))
except ZeroDivisionError:
    print("Division by Zero error!!!")
except TypeError:
    print("Invalid Data Type!!!")

3.0

In [25]:
try:
    print((lambda a: lambda b: lambda c, d: (a - b) / (c - d))(10)(4)(8, 8))
except ZeroDivisionError:
    print("Division by Zero error!!!")
except TypeError:
    print("Invalid Data Type!!!")

Division by Zero error!!!

In [26]:
try:
    print((lambda a: lambda b: lambda c, d: (a - b) / (c - d))("10")(4)(8, 8))
except ZeroDivisionError:
    print("Division by Zero error!!!")
except TypeError:
    print("Invalid Data Type!!!")

Invalid Data Type!!!


simple nested lambda string combining with sperator operation for n attributes

In [28]:
print((lambda a: lambda b: lambda c, d: a + '-' + b + '-' + c + '-' + d)(input("a: "))(input("b: "))(input("c: "), input("d: ")))

a: 4
b: 3
c: 6
d: 2
4-3-6-2

given attributes a, b, c, d are hi, !, Students,!!!

write a nested lambda to concatnate the abcd, by converting a and c to uppercase

output: HI!STUDENTS!!!

In [29]:
print((lambda a: lambda b: lambda c, d: a.upper()+  b + c.upper() + d)(input("a: "))(input("b: "))(input("c: "), input("d: ")))

a: hi
b: !
c: Students
d: !!!
HI!STUDENTS!!!

given attributes a, b, c, d are hi, hello, Students, teachers

write a nested lambda to concatnate the abcd, by reversing with sep ' '

output: ih olleh stnedutS srehcaet

In [30]:
print((lambda a: lambda b: lambda c, d: a[::-1] + ' ' + b[::-1] + ' ' + c[::-1] + ' ' + d[::-1])('hi')('hello')('Students', 'teachers'))

ih olleh stnedutS srehcaet

given attributes a, b, c, d are hi, hello, Students, teachers

write a nested lambda to concatnate the abcd, by reversing and do list comprehension on the reversed attributes

output: ['ih', 'olleh', 'stnedutS', 'srehcaet']

In [31]:
print((lambda a: lambda b: lambda c, d: [a[::-1], b[::-1], c[::-1], d[::-1]])('hi')('hello')('Students', 'teachers'))

['ih', 'olleh', 'stnedutS', 'srehcaet']

In [32]:
num = [4, 6, 3, 8]
print((lambda a: [(x * 3 if x < 5 else x * 2) for x in a])(num))

[12, 12, 9, 16]

In [33]:
numbers =(lambda x: lambda a: a * 2 if a > x else a * 3)
above_5 = numbers(5)
num = [4, 6, 3, 8]
o = list(map(above_5, num))
print(o)

[12, 12, 9, 16]

ps:

data = [10, 'hi', 4.5, 'students', 3, 100]

from rhe list containing numbers and strings, extract only integers using lambda function and list comprehension

o/p: [10, 3, 100]

In [34]:
data = [10, 'hi', 4.5, 'students', 3, 100]
x = list(filter(lambda x: isinstance(x, int), data))
print(x)
i = [x for x in data if(lambda v: type(v) == int)(x)]
print(i)

[10, 3, 100]
[10, 3, 100]


Calculate the factorial of n using recursion of lambda function.

n = 4

In [35]:
n = int(input("Enter the number: "))
i = lambda fact: 1 if fact == 0 else fact * i(fact - 1)
print(f"Factorial of {n} is: {i(n)}")
fact = (lambda f : lambda n: 1 if n == 0 else n * f(f)(n - 1))(lambda f: lambda n: 1 if n == 0 else n * f(f)(n - 1))
print(f"Factorial of {n} is: {fact(n)}")

Enter the number: 5
Factorial of 5 is: 120
Factorial of 5 is: 120

sum of digits : 3426

o/p: 15

In [36]:
dsum = (lambda f: lambda n: 0 if n == 0 else n % 10 + f(f)(n // 10))(lambda f: lambda n: 0 if n == 0 else n % 10 + f(f)(n // 10))
print(dsum(3426))

15

## List Comprehension

[expression for any item in iteration / with a condition]

code to take user input of random 10 numbers using list comprehension and print them

constraint: take input with space seperated

input must read 10 numbers if the user give more than 10 numbers space separated

In [37]:
n = [int(x) for x in input("Enter 10 space separated numbers: ").split()[:5]]
print(n)

Enter 10 space separated numbers: 1 2 3 4 5
[1, 2, 3, 4, 5]

In [38]:
colors = ['red', 'green', 'blue', 'violet']
print([color.upper() for color in colors])
print([x for x in range(11)])
print([x for x in range(11) if x % 2 == 0])
m = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(m[2][1])
m = [[1, 2, 3], [4, 5, [11, 22]], [7, 8, 9]]
print(m[1][2][0])

['RED', 'GREEN', 'BLUE', 'VIOLET']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
8
11

code to take user input with space seperated and convert the 9 inputs in to
3x3 martix form on display uisng list comprehension

In [39]:
n = [int(x) for x in input("Enter 9 inputs numbers: ").split()[:9]]
m = [[n[i * 3 + j] for j in range(3)] for i in range(3)]
print("3x3 matrix")
for x in m:
    print(x)

Enter 9 inputs numbers: 1 2 3 4 5 6 7 8 9
3x3 matrix
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

code to convert decimal to binary matrix by considering even and odd manipulations for user
defined variables of an nxn matrix

where n = 3

list = [[1, 2, 3], [3, 3, 3], [4, 5, 6]]

output:

1 0 1

1 1 1

0 1 0

In [40]:
n = input("Enter 9 numbers: ").split()
num = [int(x) for x in n]
m = [[num[i * 3 + j] for j in range(3)] for i in range(3)]
bm = [[0 if m[i][j] % 2 == 0 else 1 for j in range(3)] for i in range(3)]
for r in m:
    print(r)
for r in bm:
    print(r)

Enter 9 numbers: 1 2 3 4 5 6 7 8 9
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
[1, 0, 1]
[0, 1, 0]
[1, 0, 1]