<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Training/blob/main/Modules%26Packages.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Modules
 - math
 - random
 - datetime
 - calendar
 - json
   *normalize the data/serializing
 - .csv
 - sqlite3
 - os module
 - collections
 - regex
 - itertools

## common math functions
 - sqrt
 - factorial
 - pow
 - floor
 - ceil
 - pi

## random
 - randint(x,y) - for integer
 - random
 - uniform(x, y) - for floating
 - choice
 - shuffle - [1, 2, 3, 4, 5] for this list it produce 120 samples
 - seed
 - random.sample - [1, 2, 2, 3, 4, 2, 2, 4, 5] for this list

# datetime
 - datetime.now() - only fetch datetime of machine not cloud based time
 - datetime.strptime() - it convert string object to epoch time
 - datetime.strftime()
 - timedelta
 - date.today()
 - datetime.date
 - %I = 0 - 12
 - %p = AM/PM
 - %H = 0 - 23.59.59.00000

## unions
int - 8
float - 16
char - len(char)/1


LVA - Latest Value Accumulation

In [ ]:
import math
num = int(input("enter the number: "))
print("Square root:", math.sqrt(num))
print("Factorial", math.factorial(num))
print("Pi Value", math.pi)
print("Pi operation", math.pi * 2)

enter the number: 5
Square root: 2.23606797749979
Factorial 120
Pi Value 3.141592653589793
Pi operation 6.283185307179586

In [ ]:
# random - generate numbers, random choices
# randint - it have one possibility sample in given range in integer
import random
# from random import randint
print("Random number from 10 to 50", random.randint(10, 50))
# random.random - dynamically used
print("Random number from 0 to 1", random.random())
# for floating random number (uniform)
print("Random number from 1.5 to 5.5", random.uniform(1.5, 5.5))
# choice
fruits = ['banana', 'apple', 'orange', 'mango']
print("Random choice from list", random.choice(fruits))
print("Random choice from list", random.choices(fruits))
# Shuffle
numbers = [1, 2, 3, 4, 5]
random.shuffle(numbers)
print("Shuffled List ", numbers)
# seed
random.seed(96)
print(random.randint(1, 100))

Random number from 10 to 50 36
Random number from 0 to 1 0.23486704358438526
Random number from 1.5 to 5.5 2.9312611875414136
Random choice from list mango
Random choice from list ['orange']
Shuffled List  [1, 5, 2, 4, 3]
48

In [ ]:
import time
epoch = time.time()
print(epoch)

1754475919.26765

In [ ]:
import calendar
year = int(input("Enter a year number: "))
print(calendar.calendar(year))

Enter a year number: 2005
                                  2005

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
from calendar import *
Year = int(input("Enter a year number: "))
Month = int(input("Enter a Month number: "))
str = month(Year, Month)
print(str)

Enter a year number: 2005
Enter a Month number: 1
    January 2005
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30
31

In [ ]:
''' program to print the next 10 day dates continuously '''
from datetime import *
d = date.today()
print(d)
for x in range(1, 10):
    nextdate = d + timedelta(days = x)
    print(nextdate)

2025-08-06
2025-08-07
2025-08-08
2025-08-09
2025-08-10
2025-08-11
2025-08-12
2025-08-13
2025-08-14
2025-08-15

In [ ]:
from calendar import *
year = int(input("Enter a year number: "))
if isleap(year):
    print(year, " is leap year")
else:
    print(year, " is not a leap year")

Enter a year number: 2025
2025  is not a leap year

In [ ]:
from datetime import datetime, date, timedelta
# current time and date
now = datetime.now()
print("Current Datetime", now)
# only date
print("Todays date", date.today()) # it gives us in the format of US
# fromatted datetime of India
formatted = now.strftime("%d-%m-%Y %H:%M:%S")
print("Formatted datetime", formatted)
formatted = now.strftime("%d-%m-%y %H:%M:%S")
print("Formatted datetime", formatted)
# parsed datetime
date_str = "24-12-2000 14:55:00"
parsed = datetime.strptime(date_str, "%d-%m-%Y %H:%M:%S")
print("Parsed data: ", parsed)
# timedelta
tommorow = now + timedelta(days = 1)
print("Tommorow: ", tommorow)
yesturday = now - timedelta(days = 1)
print("Yesturday: ", yesturday)
ftime = now + timedelta(hours = 3, minutes = 30)
print("After 3.5 hours: ", ftime)
now = datetime.now()
format_12hr = now.strftime("%d/%m/%Y, %I:%M:%S %p")
print(format_12hr)

Current Datetime 2025-08-06 10:26:34.680739
Todays date 2025-08-06
Formatted datetime 06-08-2025 10:26:34
Formatted datetime 06-08-25 10:26:34
Parsed data:  2000-12-24 14:55:00
Tommorow:  2025-08-07 10:26:34.680739
Yesturday:  2025-08-05 10:26:34.680739
After 3.5 hours:  2025-08-06 13:56:34.680739
06/08/2025, 10:26:34 AM

In [ ]:
# json module
import json
name = input("Enter your name: ")
age = int(input("Enter your age: "))
data = {"name": name, "age": age}
stringify_json = json.dumps(data) # dumps the data in same page
print("Serialised data of Json ", stringify_json)

Enter your name: Suchitra
Enter your age: 20
Serialised data of Json  {"name": "Suchitra ", "age": 20}

In [ ]:
import json
name = input("Enter the name: ")
age = int(input("Enter age: "))
user = {"name": name, "age": age}
with open("user.json", 'w') as f: # f means file
    json.dump(user, f) # dump the data from the outside page
print("Data Written to Json Floder ")
with open("user.json", 'r') as f:
    loaded = json.load(f) # retriving the data from the json
    print("Read from file ", loaded)

Enter the name: Suchitra
Enter age: 20
Data Written to Json Floder
Read from file  {'name': 'Suchitra', 'age': 20}

In [ ]:
import csv
with open("people.csv", "w", newline = "") as file:
    writer = csv.writer(file)
    writer.writerow(["name", "age"])
    for _ in range(2): # "_" this is used for taking empty bucket in for loop
        name = input("Enter name: ")
        age = int(input("Enter age: "))
        writer.writerow([name, age]) # write the data in the csv file
print("Data written on csv file")

Enter name: Suchitra
Enter age: 20
Enter name: Roopa
Enter age: 21
Data written on csv file

In [ ]:
import csv
with open("people.csv", "r") as file:
    reader = csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['Suchitra', '20']
['Roopa', '21']

In [ ]:
import os
folder = "Wipro_Practice"
if not os.path.exists(folder):
    os.mkdir(folder)
    print(f"Folder '{folder}' created.")
else:
    print(f"Folder '{folder}' already exists.")

Folder 'Wipro_Practice' created.

In [ ]:
import os
file = "new_file.txt"
if os .path.exists(file):
    os.remove(file)
    print(f"{file} deleted.")
else:
    print(f"{file} not found.")

new_file.txt not found.

In [ ]:
import os
file = "sysmodule.txt"
if os.path.exists(file):
    size = os.path.getsize(file)
    print(f"{file} size: {size} bytes.")
else:
    print("file not found.")

file not found.

In [ ]:
import os
folder = input("Enter folder name to create: ")
if not os.path.exists(folder):
    os.mkdir(folder)
    print(f"Folder '{folder}' created")
else:
    print("Folder already exists")

Enter folder name to create: Wipro_Practices
Folder 'Wipro_Practices' created

In [ ]:
import os
path = "."
files = os.listdir(path)
print("Files and folders in current directory: ")
for i in files:
    print(i)

Files and folders in current directory:
.config
people.csv
Wipro_Practice
user.json
Wipro_Practices
sample_data

In [ ]:
import itertools
data = input("Enter Characters: ")
permute = list(itertools.permutations(data))
print("All permutations")
for p in permute:
    print(" ".join(p))

Enter Characters: abc
All permutations
a b c
a c b
b a c
b c a
c a b
c b a

In [ ]:
''' Write a program which infinitly prints natural numbers.
Raise a StopIteration exception after displaying first 20 numbers to exceed the program
'''
def display(n):
    while True:
        try:
            n += 1
            if n == 21:
                raise StopIteration
        except StopIteration:
            break
        else:
            print(n, end = ' ')
i = 0
display(i)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [ ]:
from collections import Counter
text = input("Enter a Text: ")
counter = Counter(text)
print("Characters frequencies: ",  dict(counter))

Enter a Text: Suchitra kamala
Characters frequencies:  {'S': 1, 'u': 1, 'c': 1, 'h': 1, 'i': 1, 't': 1, 'r': 1, 'a': 4, ' ': 1, 'k': 1, 'm': 1, 'l': 1}

In [ ]:
import sys
if len(sys.argv) < 2:
    print("Usage: py hi.py <name>")
else:
    name = sys.argv[1]
    print(f"Student, {name}!")

Student, -f!

In [ ]:
import sys
if len(sys.argv) < 3:
    print("Usage: This script expects two numerical arguments if run as a standalone script.")
    print("In Colab, sys.argv may contain different values.")
    print("Current sys.argv:", sys.argv)
else:
    try:
        l = float(sys.argv[1])
        b = float(sys.argv[2])
        print("Calculated area: ", l * b)
    except ValueError:
        print("Error: The provided arguments could not be converted to numbers.")
        print("Current sys.argv:", sys.argv)

Error: The provided arguments could not be converted to numbers.
Current sys.argv: ['/usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json']

In [ ]:
import sys
if len(sys.argv) < 3:
    print("Usage: This script expects two numerical arguments if run as a standalone script.")
    print("In Colab, sys.argv may contain different values.")
    print("Current sys.argv:", sys.argv)
else:
    try:
        num1_str = sys.argv[1]
        num2_str = sys.argv[2]
        print("Concatenation: ", num1_str + num2_str)

        num1 = int(sys.argv[1])
        num2 = int(sys.argv[2])
        print("Sum: ", num1 + num2)
        print("Multiplication: ", num1 * num2)
    except ValueError:
        print("Error: The provided arguments could not be converted to integers.")
        print("Current sys.argv:", sys.argv)

Concatenation:  -f/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json
Error: The provided arguments could not be converted to integers.
Current sys.argv: ['/usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json']

In [ ]:
import sys
print("Script name: ", sys.argv[0])
print("All args: ", sys.argv[1:])
print("Number of items: ", len(sys.argv))
print("Including file name: ", sys.argv)
if len(sys.argv) > 1:
    print("First argv: ", sys.argv[1])
else:
    print("No agruments provided")

Script name:  /usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py
All args:  ['-f', '/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json']
Number of items:  3
Including file name:  ['/usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json']
First argv:  -f

In [ ]:
import sys
if len(sys.argv) < 2 or sys.argv[1].startswith('-'):
    print("Usage: Provide numerical arguments separated by spaces.")
    print("Current sys.argv:", sys.argv)
else:
    start_index = 1
    while start_index < len(sys.argv) and sys.argv[start_index].startswith('-'):
        start_index += 1
    if start_index >= len(sys.argv):
        print("Usage: Provide numerical arguments separated by spaces.")
        print("No valid numerical arguments found.")
        print("Current sys.argv:", sys.argv)
    else:
        try:
            numbers = [int(arg) for arg in sys.argv[start_index:]]
            total = sum(numbers)
            print("Numbers: ", numbers)
            print("Sum: ", total)
        except ValueError:
            print("Error: One or more provided arguments could not be converted to integers.")
            print("Please ensure all provided arguments are valid integers.")
            print("Current sys.argv:", sys.argv)

Usage: Provide numerical arguments separated by spaces.
Current sys.argv: ['/usr/local/lib/python3.11/dist-packages/colab_kernel_launcher.py', '-f', '/root/.local/share/jupyter/runtime/kernel-01fedf97-2559-4875-a5f7-7c69499a9a65.json']

In [ ]:
for i in range(7):
    for j in range(7):
        if abs(i - j) == 3 or i + j == 3 or i + j == 9 or i == 6 or j == 6 or i == 0 or j == 0 or j == 5 and i != 3 and  j != 3 :
            print("*", end =' ')
        elif i == 1 and i != 3 and  j != 3:
            print("*", end =' ')
        elif  j == 1 and i != 3 and  j != 3 :
            print("*", end =' ')
        else:
            print(" ", end = ' ')
    print()

* * * * * * *
* * *   * * *
* *       * *
*           *
* *       * *
* * *   * * *
* * * * * * *

## Packages
 - Requests
   1. Web api interaction
   2. http get, put, post delete request
   3. Handle json requests, status.....

In [27]:
import requests
url = "https://jsonplaceholder.typicode.com/posts"
data = {
    "title" : "Hi Students",
    "body" : "Wipro Geeks",
    "userID" : 1
}
response = requests.post(url, json = data)
print("Status Code: ", response.status_code)
print("Reponse JSON: ",response.json())

Status Code:  201
Reponse JSON:  {'title': 'Hi Students', 'body': 'Wipro Geeks', 'userID': 1, 'id': 101}

In [28]:
import requests
response = requests.get("https://jsonplaceholder.typicode.com/posts/1")
print("Status code: ", response.status_code)
print("response JSON: ", response.json())

Status code:  200
response JSON:  {'userId': 1, 'id': 1, 'title': 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit', 'body': 'quia et suscipit\nsuscipit recusandae consequuntur expedita et cum\nreprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto'}