<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Training/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas
1. series (1-D Array)
2. Dataframes (2-D Array) / labeling will be on rows and columns
### operations:
 1. reading / writing of data (csv / json / xls)
 2. inserting of data
 3. selecting of data
 4. data manipulation
 5. grouping and aggregation
 6. merging / joining
 7. **sorting**

### Series (1-D Array)

In [ ]:
import pandas as pd
print("Enter 3 names seperated with space: ")
names = input().strip().split()
print("Enter 3 index labels: ")
indices = input().strip().split()
try:
    if len(names) != 3 or len(indices) != 3:
        raise ValueError("Please provide exact names with indices")
    series = pd.Series(data = names, index = indices)
    print("Created a new series: ")
    print(series)
except ValueError as e:
    print(f"Error: {e}")

Enter 3 names seperated with space:
Suchitra Roopa Eswari
Enter 3 index labels:
1 2 3
Created a new series:
1    Suchitra
2       Roopa
3      Eswari
dtype: object

In [ ]:
"""
code elobrates how to filter numerical data in series based on condition (e.g.,
values greater than a threshold)
"""
import pandas as pd
print("Enter 4 random numbers, space sepearted: ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
  if len(numbers) != 4:
    raise ValueError("Please provide exactly 4 numbers: ")
  total_data = pd.Series(numbers)
  print(total_data)
  filtered = total_data[total_data > 10]
  # 0 -> 5 1 -> 15 2 -> 8 3 -> 18
  print(filtered)
except ValueError as e:
  print(f"Error: {e}")

Enter 4 random numbers, space sepearted:
5 15 8 18
0     5.0
1    15.0
2     8.0
3    18.0
dtype: float64
1    15.0
3    18.0
dtype: float64

In [ ]:
"""
code elobrates how to filter string data in series based on condition (e.g.,
strings containing a apecific substring)
"""
import pandas as pd
print("Enter 5 strings, space seperated: ")
strings = input().strip().split()
print("Enter substring: ")
substring = input().strip()
try:
    if len(strings) != 5:
        raise ValueError("Please provide 5 strins only: ")
    series = pd.Series(strings)
    print("\nOriginal Series: ")
    print(series)
    filtered = series[series.str.lower().str.contains(substring.lower(), na = False)]
    print(f"strings containing '{substring}' (case-intensitive):")
    print(filtered if not filtered.empty else "No match found.")
except ValueError as e:
    print(f"Error: {e}")

Enter 5 strings, space seperated:
Apple Banana Orange Mango Papaya
Enter substring:
an

Original Series:
0     Apple
1    Banana
2    Orange
3     Mango
4    Papaya
dtype: object
strings containing 'an' (case-intensitive):
1    Banana
2    Orange
3     Mango
dtype: object

In [ ]:
"""
missing values operations on NaN
"""
import pandas as pd
import numpy as np
series = pd.Series([10, np.nan, 30, np.nan, 50], index = ['a', 'b', 'c', 'd','e'])
print("\nOriginal Series: ")
print(series)
# check missing values
print("\nMissing Values: ")
print(series.isna())
# replace nan with 0
filled_series = series.fillna(0)
print("\nSeries after filling NaN with 0: ")
print(filled_series)
# missing values deletion
dropped_series = series.dropna()
print("\nSeries after dropping NaN values: ")
print(dropped_series)

Original Series:
a    10.0
b     NaN
c    30.0
d     NaN
e    50.0
dtype: float64

Missing Values:
a    False
b     True
c    False
d     True
e    False
dtype: bool

Series after filling NaN with 0:
a    10.0
b     0.0
c    30.0
d     0.0
e    50.0
dtype: float64

Series after dropping NaN values:
a    10.0
c    30.0
e    50.0
dtype: float64

In [ ]:
"""
code to show the computaion of statistics and access
series attributes.
100 200 150 300 250
print original data, which is serialized
statistics:
mean
sum
max
min
Attributes:
index = ['a'......'e']
values = [100.0 ...... 250.0]
"""
import pandas as pd
print("Enter 5 random numbers, space seperated: ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
    if len(numbers) != 5:
        raise ValueError("Please provide exactly 5 numbers: ")
    series = pd.Series(numbers, index = ['a', 'b', 'c', 'd', 'e'])
    print("\nOriginal Series: ")
    print(series)
    # Statistics
    print("\nStatistics: ")
    print(f"Mean: {series.mean()}")
    print(f"Sum: {series.sum()}")
    print(f"Max: {series.max()}")
    print(f"Min: {series.min()}")
    # Attributes
    print("\nAttributes: ")
    print(f"Index: {series.index.tolist()}")
    print(f"Values: {series.values.tolist()}")
    print(f"DataType: {series.dtype}")
except ValueError as e:
    print(f"Error: {e}")

Enter 5 random numbers, space seperated:
100 150 200 250 300

Original Series:
a    100.0
b    150.0
c    200.0
d    250.0
e    300.0
dtype: float64

Statistics:
Mean: 200.0
Sum: 1000.0
Max: 300.0
Min: 100.0

Attributes:
Index: ['a', 'b', 'c', 'd', 'e']
Values: [100.0, 150.0, 200.0, 250.0, 300.0]
DataType: float64

In [ ]:
import pandas as pd
print("Enter 4 numbers, space seperated: ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
    if len(numbers) != 4:
        raise ValueError("Give 4 numbers only !!!")
    series = pd.Series(numbers, index = ['a', 'b', 'c', 'd'])
    print("\nOriginal Series: ")
    print(series)
    # doubling the values vector operations
    doubled = series * 2
    print("\nSeries after doubling the values: ")
    print(doubled)
    # adding 100 to all values vector operations
    added = series + 100
    print("\nSeries after adding 100: ")
    print(added)
except ValueError as e:
    print(f"Error: {e}")

Enter 4 numbers, space seperated:
100 200 300 400

Original Series:
a    100.0
b    200.0
c    300.0
d    400.0
dtype: float64

Series after doubling the values:
a    200.0
b    400.0
c    600.0
d    800.0
dtype: float64

Series after adding 100:
a    200.0
b    300.0
c    400.0
d    500.0
dtype: float64

In [ ]:
import pandas as pd
names = pd.Series(['Apples', 'Oranges', 'Kiwis'])
df = names.to_frame(name = 'Names')
# add new column
df['Price'] = [50, 30, 80]
print(df)

     Names  Price
0   Apples     50
1  Oranges     30
2    Kiwis     80

### Data Frame
syntax: DataFrame(data)
##### Operations
 1. df.head(n) - first n rows
 2. df.tail(n) - last n rows
 3. df.info() - summary of df
 4. df.describe() - statistical summary
 5. df.shape() - tuple rows and columns
 6. df.dtypes() - data type (column)
 7. df.columm() - column name
 8. df.drop() - delete column

In [ ]:
import pandas as pd
data = {
    'Name': ['Mark', 'Steve', 'Jenny'],
    'Age': [22, 21, 22],
    'Branch': ['EEE', 'CSE', 'Mech']
}
df = pd.DataFrame(data)
print(df)

    Name  Age Branch
0   Mark   22    EEE
1  Steve   21    CSE
2  Jenny   22   Mech

In [1]:
import pandas as pd
n = int(input("Enter the number of profiles: "))
names = []
ages = []
branches = []
for i in range(n):
    print(f"----Enter {i + 1}----")
    name = input("Enter Name: ")
    age = input("Enter Age: ")
    branch = input("Enter Branch: ")
    names.append(name)
    ages.append(age)
    branches.append(branch)
data = {
    'Name': names,
    'Age': ages,
    'Branch': branches
}
df = pd.DataFrame(data)
print("\nDataFrame created: ")
print(df)
print(df[['Name', 'Branch']])
print(df.iloc[2])
df['Stipend'] = ['10000', '11000', '9000']
print(df)
Stipend = ['10000', '11000', '9000']
df.insert(1, 'Salary', Stipend)
print(df)
df.at[2, 'Age'] = 25
print(df)
df.drop('Stipend', axis = 1, inplace = True)
print(df)

Enter the number of profiles: 3
----Enter 1----
Enter Name: Suchitra
Enter Age: 20
Enter Branch: AIM
----Enter 2----
Enter Name: Roopa
Enter Age: 21
Enter Branch: CSE
----Enter 3----
Enter Name: Eswari
Enter Age: 21
Enter Branch: CSM

DataFrame created:
       Name Age Branch
0  Suchitra  20    AIM
1     Roopa  21    CSE
2    Eswari  21    CSM
       Name Branch
0  Suchitra    AIM
1     Roopa    CSE
2    Eswari    CSM
Name      Eswari
Age           21
Branch       CSM
Name: 2, dtype: object
       Name Age Branch Stipend
0  Suchitra  20    AIM   10000
1     Roopa  21    CSE   11000
2    Eswari  21    CSM    9000
       Name Salary Age Branch Stipend
0  Suchitra  10000  20    AIM   10000
1     Roopa  11000  21    CSE   11000
2    Eswari   9000  21    CSM    9000
       Name Salary Age Branch Stipend
0  Suchitra  10000  20    AIM   10000
1     Roopa  11000  21    CSE   11000
2    Eswari   9000  25    CSM    9000
       Name Salary Age Branch
0  Suchitra  10000  20    AIM
1     Roopa  11000  21    CSE
2    Eswari   9000  25    CSM

### Accessing csv File

In [2]:
import pandas as pd
import numpy as np
data = {
    'Patient_ID': ['P001', 'P002', 'P003', 'P004', 'P005', 'P006'],
    'Name': ['Vijay', 'Ajay', 'Kiran', 'Amith', 'Suresh', None],
    'Age': [34, 30, None, 60, 25, 50],
    'Department': ['Carona', 'Cancer', 'Neurology', 'Cardiology', 'Cancer', 'ICU'],
    'Admission_Date': ['2025-01-15', '2025-02-10', '2025-03-03', '2025-01-22', '2025-04-06', '2025-08-06'],
    'Bill': [7000.80, 76000.00, 10000.00, 200000.00, 80000.00, None]
}
df = pd.DataFrame(data)
df.to_csv('hospital_data.csv', index = False)
print("Created data Successfully...")

Created data Successfully...

In [3]:
try:
    df = pd.read_csv('hospital_data.csv')
    print("\n Hospital Data: ")
    print(df)
    # Display basic info
    print("\nDataFrame INFO: ")
    print(df.info())
    print("\nSummary Statistics: ")
    print(df.describe())
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

 Hospital Data:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-06       NaN

DataFrame INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      6 non-null      object
 1   Name            5 non-null      object
 2   Age             5 non-null      float64
 3   Department      6 non-null      object
 4   Admission_Date  6 non-null      object
 5   Bill            5 non-null      float64
dtypes: float64(2), object(4)
memory usage: 420.0+ bytes
None

Summary Statistics:
             Age           Bill
count   5.000000       5.000000
mean   39.800000   74600.160000
std    14.669697   78260.928695
min    25.000000    7000.800000
25%    30.000000   10000.000000
50%    34.000000   76000.000000
75%    50.000000   80000.000000
max    60.000000  200000.000000

In [4]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    print("\nOriginal Hospital DataFrame: ")
    print(df)
    # Chack missing values
    print("\nMissing Values: ")
    print(df.isna())
    # Filling name by unknown, value by 0
    df_filled = df.copy()
    df_filled['Name'] = df_filled['Name'].fillna('Unknown')
    df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())
    df_filled['Bill'] = df_filled['Bill'].fillna(0)
    print("\nDataframe after filling by default: ")
    print(df_filled)
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Hospital DataFrame:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-06       NaN

Missing Values:
   Patient_ID   Name    Age  Department  Admission_Date   Bill
0       False  False  False       False           False  False
1       False  False  False       False           False  False
2       False  False   True       False           False  False
3       False  False  False       False           False  False
4       False  False  False       False           False  False
5       False   True  False       False           False   True

Dataframe after filling by default:
  Patient_ID     Name   Age  Department Admission_Date      Bill
0       P001    Vijay  34.0      Carona     2025-01-15    7000.8
1       P002     Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003    Kiran  39.8   Neurology     2025-03-03   10000.0
3       P004    Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005   Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006  Unknown  50.0         ICU     2025-08-06       0.0

In [5]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    print("\nOriginal Hospital DataFrame: ")
    print(df)
    # grouping by department
    grouped = df.groupby('Department')['Bill'].mean()
    print("\nAverage Medical Cost by Department: ")
    print(grouped)
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Hospital DataFrame:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-06       NaN

Average Medical Cost by Department:
Department
Cancer         78000.0
Cardiology    200000.0
Carona          7000.8
ICU                NaN
Neurology      10000.0
Name: Bill, dtype: float64

In [6]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    print("\nOriginal Hospital DataFrame: ")
    print(df)
    # add discount_cost column (10% discount)
    df['Discount'] = df['Bill'] * 0.9
    # sorting by bill
    sorted_df = df.sort_values('Bill', ascending = False)
    print("\nSorted by Medical Bill (descending order): ")
    print(sorted_df)
except FileExistsError:
    print("Error: 'hospital_data.csv' not found.")

Original Hospital DataFrame:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-06       NaN

Sorted by Medical Bill (descending order):
  Patient_ID    Name   Age  Department Admission_Date      Bill   Discount
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0  180000.00
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0   72000.00
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0   68400.00
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0    9000.00
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8    6300.72
5       P006     NaN  50.0         ICU     2025-08-06       NaN        NaN

In [7]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    print("\nOriginal Hospital DataFrame: ")
    print(df)
    # Add a status column, based on age
    df['Status'] = df['Age'].apply(lambda x: 'Senior' if x >= 50 else 'Adult' if x >= 18 else 'UnKnown')
    print("\nDataFrame with Status column: ")
    print(df)
    # Saving to csv file
    df.to_csv('hospital_data_updated.csv', index = False)
    print("\nModified Dataframe saved to 'hospital_data_updated.csv'")
except FileExistsError:
    print("Error: 'hospital_data.csv' not found.")

Original Hospital DataFrame:
  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-06       NaN

DataFrame with Status column:
  Patient_ID    Name   Age  Department Admission_Date      Bill   Status
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8    Adult
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0    Adult
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0  UnKnown
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0   Senior
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0    Adult
5       P006     NaN  50.0         ICU     2025-08-06       NaN   Senior

Modified Dataframe saved to 'hospital_data_updated.csv'

In [8]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    series = df['Bill']
    print("\nOriginal Hospital DataFrame: ")
    print(series)
    # User manual input
    print("\nEnter Patient ID to update: ")
    patient_id = input().strip()
    print("Enter new Bill for {patient_id}: ")
    new_cost = float(input())
    # updating bill series and save
    if patient_id in df['Patient_ID'].values:
        index = df[df['Patient_ID'] == patient_id].index[0]
        series[index] = new_cost
        print("\nUpdated Medical Bill series: ")
        print(series)
        # Update DataFrame and save
        df['Bill'] = series
        df.to_csv('hospital_data.csv', index = False)
        print("\nUpdated CSV saved to 'hospital_data.csv'.")
    else:
        print(f"Error: patient ID '{patient_id}' not found")
    '''
    df['Bill'] = series
    df.to_csv('hospitaldata.csv', index = False)
    print("\nUpdated CSV saved to 'hospitaldata.csv'")'''
except FileExistsError:
    print("Error: 'hospital_data.csv' not found.")

Original Hospital DataFrame:
0      7000.8
1     76000.0
2     10000.0
3    200000.0
4     80000.0
5         NaN
Name: Bill, dtype: float64

Enter Patient ID to update:
P001
Enter new Bill for {patient_id}:
7700

Updated Medical Bill series:
0      7700.0
1     76000.0
2     10000.0
3    200000.0
4     80000.0
5         NaN
Name: Bill, dtype: float64

Updated CSV saved to 'hospital_data.csv'.

/tmp/ipython-input-505823797.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  series[index] = new_cost

### Data Cleaning

1. **Handling missing data (NaN)**
   * `isna()` - identify missing value
   * `fillna()` - specific value
   * `dropna()` - delete missing value

2. **Remove Duplicate Values**
   * `duplicated()` - checks duplicates
   * `drop_duplicates()` - removes duplicate rows

3. **Correcting invalid data**
   * Examples: 12/12/2025 dates, ages, cost(-ve)
   * `clip()` - constrain values within range

4. **Standardizing / Normalizing string data**
   * `str.lower()` - convert to lowercase
   * `str.upper()` - convert to uppercase
   * `str.strip()` - remove whitespace
   * `str.replace()` - replace substrings

5. **Data Conversion**
   * `pd.to_numeric()` - convert to numbers
   * `pd.to_datetime()` - convert to dates
   * `errors = 'coerce'` - handle conversion errors

In [9]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    series = df['Name']
    print("\nOriginal Name Series: ")
    print(series)
    clean_series = series.str.title().str.strip()
    print("Name series after standardizing with (title case, strripped space): ")
    print(clean_series)
    # saving to csv dataframe
    df['Name'] = clean_series
    df.to_csv('hospital_data.csv', index = False)
    print("Data saved to csv file")
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Name Series:
0     Vijay
1      Ajay
2     Kiran
3     Amith
4    Suresh
5       NaN
Name: Name, dtype: object
Name series after standardizing with (title case, strripped space):
0     Vijay
1      Ajay
2     Kiran
3     Amith
4    Suresh
5       NaN
Name: Name, dtype: object
Data saved to csv file

In [10]:
import pandas as pd
import numpy as np
try:
    df = pd.read_csv('hospital_data.csv')
    series = df['Age']
    print("\nOriginal Age Series: ")
    print(series)
    # Replace invalid ages, < 0 or > 120 with NaN
    clean_series = series.where((series >= 0) & (series <= 120), np.nan)
    print("\nAge series after replacing invalid ages with NaN: ")
    print(clean_series)
    df['Age'] = clean_series
    df.to_csv('hospital_data.csv', index = False)
    print("\nUpdated csv saved to 'hospital_data.csv'.")
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Age Series:
0    34.0
1    30.0
2     NaN
3    60.0
4    25.0
5    50.0
Name: Age, dtype: float64

Age series after replacing invalid ages with NaN:
0    34.0
1    30.0
2     NaN
3    60.0
4    25.0
5    50.0
Name: Age, dtype: float64

Updated csv saved to 'hospital_data.csv'.

In [11]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    series = df['Admission_Date']
    print("\nOriginal Admission Data Series: ")
    print(series)
    # Convert string to datetime
    date_series = pd.to_datetime(series, format = '%Y-%m-%d', errors = 'coerce')
    print("\nAdmission Date Series after converting to datetime: ")
    print(date_series)
    # update and save the dataframe
    df['Admission_Data'] = date_series
    df.to_csv('hospital_data.csv', index = False)
    print("\nUpdated csv saved to 'hospital_data.csv'.")
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Admission Data Series:
0    2025-01-15
1    2025-02-10
2    2025-03-03
3    2025-01-22
4    2025-04-06
5    2025-08-06
Name: Admission_Date, dtype: object

Admission Date Series after converting to datetime:
0   2025-01-15
1   2025-02-10
2   2025-03-03
3   2025-01-22
4   2025-04-06
5   2025-08-06
Name: Admission_Date, dtype: datetime64[ns]

Updated csv saved to 'hospital_data.csv'.

In [12]:
import pandas as pd
try:
    df = pd.read_csv('hospital_data.csv')
    series = df['Admission_Data']
    print("\nOriginal Admission Data Series: ")
    print(series)
    print("\nConvert Admission date format from y/m.d to d/m/y: ")
    confirm = input().strip().lower()
    if confirm == 'yes':
        date_series = pd.to_datetime(series, format = '%Y-%m-%d')
        f_series = date_series.dt.strftime('%d-%m-%Y')
        print("\nAdmission date series after conversion to DD-MM-YY: ")
        print(f_series)
        # update and save the dataframe
        df['Admission_Data'] = f_series
        df.to_csv('hospital_data.csv', index = False)
        print("\nUpdated csv saved to 'hospital_data.csv'.")
    else:
        print("\nUpdated format conversion cancelled.")
except FileNotFoundError:
    print("Error: 'hospital_data.csv' not found.")

Original Admission Data Series:
0    2025-01-15
1    2025-02-10
2    2025-03-03
3    2025-01-22
4    2025-04-06
5    2025-08-06
Name: Admission_Data, dtype: object

Convert Admission date format from y/m.d to d/m/y:
yes

Admission date series after conversion to DD-MM-YY:
0    15-01-2025
1    10-02-2025
2    03-03-2025
3    22-01-2025
4    06-04-2025
5    06-08-2025
Name: Admission_Data, dtype: object

Updated csv saved to 'hospital_data.csv'.