<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/Wipro_Training/blob/main/RegularExpressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Regular Expressions

import re

functions
 1. re.findall()
 2. re.match() - 0 - (n - 1)(str1) (0 - (n -1)(str2))
 hello Hello
 3. re.search()
 4. re. sub()
 5. re.compile()
 6. re.split()
 7. re.finditer()

Cases in Regular Expressions:
 1. re.IGNORECASE / re.I
 2. re.MULTILINE / re.M
 3. re.DOTALL / re.D
 4. re.VERBOSE / re.V

metachars-
 1. ^ - start of string
 2. $ - end of " "
 3. '*' - occurences
 4. '+' - occurences
 5. ? - combination of *, +
 6. [] - set of characters
 7. () - grouping
 8. \ - escape
 9. . - newline

 syntax - re.match(searchedelements, tex)

code to take a text data and fetch to match the given data

In [ ]:
import re
text = 'hi students how are you!!!'
se = r'how'
output = re.match(se, text)
if output:
    print("Match found for: ", output)
else:
    print("No Match ......")

No Match ......

group, if you have a match in data. group will extract

In [ ]:
import re
text = 'hi students how are you!!!'
se = r'hi'
output = re.match(se, text)
if output:
    print("Match found for: ", output.group())
else:
    print("No Match ......")

Match found for:  hi

In [ ]:
import re
text = 'My number is 229'
match = re.search(r'\d+', text)
print(match.group())

229

In [ ]:
import re
text = 'My number is 229'
match = re.search(r'\d+', text)
print(match)

<re.Match object; span=(13, 16), match='229'>

In [ ]:
import re
text = input("Enter a sentence with a number: ")
match = re.search(r'\d+', text)
if match:
    print("Number found", match.group())
else:
    print("no match")

Enter a sentence with a number: I am Suchitra 20 years old studying 3 year btech
Number found 20

In [ ]:
import re
text = input("Enter a sentence with a number: ")
matches = list(re.finditer(r'\d+', text))
if len(matches) >= 2:
    print("Second number found ", matches[1].group())
elif len(matches) == 1:
    print("Only one number found ", matches[0].group())
else:
    print("No Match")

Enter a sentence with a number: I am Suchitra 20 years old studying 3 year btech
Second number found  3

In [ ]:
import re
text = input("Enter a sentence with a number: ")
matches = list(re.finditer(r'\d+', text))
if len(matches) >= 2:
    print("Third number found ", matches[2].group())
elif len(matches) == 1:
    print("Only one number found ", matches[0].group())
else:
    print("No Match")

Enter a sentence with a number: I am Suchitra 20 years old
Only one number found  20

In [ ]:
import re
text = input("Enter a sentence with a number: ")
n = int(input("Which number you want to extract: "))
matches = list(re.findall(r'\d+', text))
if len(matches) >= n:
    print(f"{n}th number is: ", matches[n - 1])
else:
    print("Not found")

Enter a sentence with a number: I am Suchitra 20 years old studying 3 year btech
Which number you want to extract: 2
2th number is:  3

In [ ]:
import re
email = input("Enter your email: ")
pattern = r'^[a-zA-Z0-9_]+@[a-zA-Z0-9_]+\.[a-zA-Z]{2,}$'
if re.match(pattern, email):
    print("valid")
else:
    print("Not Valid")

Enter your email: kodalisuchitrakamala@gmail.com
valid

In [ ]:
import re
phone = input("Enter your number: ")
pattern = r'^[6-9]\d{9}$'
if re.match(pattern, phone):
    print("valid")
else:
    print("Not Valid")

Enter your number: 9398300146
valid